<div class="container well well-lg">
  <div class="row">
    <form name="signUp" novalidate>
      <div class="form-group">
        <label>First Name(*):</label>
        <input type='text' class="form-control" ng-model="signUpCtrl.firstName" required/>
      </div>
      <div class="form-group">
        <label>Last Name(*):</label>
        <input type="text" class="form-control" ng-model="signUpCtrl.lastName" required/>
      </div>
      <div class="form-group">
        <label>Email(*):</label>
        <input type="email" class="form-control" ng-model="signUpCtrl.email" required/>
      </div>
      <div class="form-group">
        <label>Phone Number(*):</label>
        <input type="number" class="form-control" ng-model="signUpCtrl.phoneNumber" required/>
      </div>
      <div class="form-group">
        <label>Menu Number(*):</label>
        <input type="text" class="form-control" ng-model="signUpCtrl.menuNumber"
        name="menuNumber" required/>{{menuNumber}}<br />
        <span ng-show="signUp.menuNumber.$pending.shortname">Checking if this short name exists...</span>
        <span ng-show="form.menuNumber.$error.shortname">This short name is already taken!</span>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"
        ng-submit="signUpCtrl.checkSignUp()">Submit</button>
      </div>
    </form>
  </div>
</div>
