<div ng-if="infoCtrl.registered" class="container">
  <div class="well">
    <div class="form-group row">
      <label for="example-text-input" class="col-xs-2 col-form-label">First Name :</label>
      <div class="col-xs-10">
        {{ infoCtrl.firstName }}
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-xs-2 col-form-label">Last Name :</label>
      <div class="col-xs-10">
        {{ infoCtrl.lastName }}
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-xs-2 col-form-label">Email :</label>
      <div class="col-xs-10">
        {{ infoCtrl.email }}
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-xs-2 col-form-label">Phone Number :</label>
      <div class="col-xs-10">
        {{ infoCtrl.phoneNumber }}
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-xs-2 col-form-label">Favorite Dish :</label>
      <div class="col-xs-10">
        <menu-item menu-item="infoCtrl.favoriteMenuItem">
        </menu-item>
      </div>
    </div>
  </div>
</div>

<div ng-if="!infoCtrl.registered">
  Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
<div>
